* {
  box-sizing: border-box;
}

.container {
  display: table;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

body {
  font-family: Arial;
  padding: 0px;
  font-family: sans-serif;
  margin-bottom: 0;
  overflow: hidden;
}

section {
  text-align: center;
  overflow: hidden;
}

.magicstar {
  opacity: 0.2;
  top: 30%;
  left: 65%;
  float: left;
  padding: 0;
  margin: 0;
  position: absolute;
}

/* two columns that float next to each other */

/* Left column */
.leftcolumn {
  float: left;
  width: 50%;
  background-color: white;
  position: absolute;
  left: 0px;
  min-height: 100vh;
  background-image: url("https://princefan046.com/wp-content/uploads/2019/03/WATER.gif");
  background-color: white;
  height: 100%vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 50%;
  background-color: black;
  position: absolute;
  right: 0px;
  min-height: 100vh;
}

/* avatarpic */
.avatarpic {
  background-color: gold;
  padding: 1px;
  margin-left: 30%;
  position: relative;
  right: 150px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  position: absolute;
  text-align: center;
  background: black;
  bottom: 0;
  margin-top: 0;
  color: white;
  text-size: 20px;
  height: 50px;
  width: 100%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
